<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="servererrors centered">
    <%- include('includes/navigation.ejs') %>


    <div class="allheader text-center">
        <h1>505-Some error occurred!</h1>
   </div>

    <p>Some data you entered was probably wrong. Please go back</p>
    <p>We're working on fixing this, sorry for the inconvenience.</p>
</div>

<%- include('includes/end.ejs') %>