<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="allheader text-center">
            <h1>Love Beauty & Planet started with one goal..</h1>
          </div>

        <div class="centered about">
            <div class="aboutheader">
                 <p class="abouttext">Untuk merawat kecantikanmu secara alami, tanpa merusak bumi. Kami ingin membuat perubahan kecil setiap harinya, melalui perawatan tubuh. Mulai dari pemilihan kandungan bahan alami yang diproses secara bertanggung jawab, penggunaan botol dari plastik daur ulang, hingga pemilihan partner sosial, merupakan beberapa bentuk #smallactsoflove kami untuk kecantikanmu dan bumi. Yuk bergabung bersama kami.</p>
                 
            
                </div>
        
         </div>
    </main>
<%- include('../includes/end.ejs') %>