<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="allheader text-center">
            <h1>Elektronik - Q</h1>
          </div>

        <div class="centered about">
            <div class="aboutheader">
                 <p class="abouttext" style="max-width: 560px">Platform penjualan Elektronik online, pesan dengan mudah dan aman hanya di Elektronik - Q. Elektronik - Q sebuah platform yang menyediakan semua elektronik kebutuhan anda, pesan di Elektronik - Q dengan mudah. Yuk beralih di Elektronik - Q!</p>
                 
            
                </div>
        
         </div>
    </main>
<%- include('../includes/end.ejs') %>